{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name}}
    {% else %}
        Products
    {% endif %}
{% endblock title %}

{% block content %}
    <div id="sidebar">
        <h3>Категорії</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Всі</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="main" class="product-list">
        <h1>
            {% if category %}
                {{ category.name }}
            {% else %}
                Товар
            {% endif %}
        </h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %} 
                        {{ product.image.url }}
                    {% else %}
                        {% static 'img/no_image.png' %}    
                    {% endif %}" alt="">
                </a>
                <a href="{{ product.get_absolute_url}}" class="product-name">{{ product.name }}</a><br>
                ₴ {{ product.price }}
            </div>
            
        {% endfor %}
    </div>
    <div id="main" class="pagination">
        {% if products.has_previous %}
          <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;</a>
        {% else %}
          <span class="disabled page-link">&laquo;</span>
        {% endif %}
      
        {% for i in products.paginator.page_range %}
          {% if products.number == i %}
            <span class="current-page page-link">{{ i }}</span>
          {% elif i > products.number|add:'-3' and i < products.number|add:'3' %}
            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
          {% endif %}
        {% endfor %}
      
        {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}" class="page-link">&raquo;</a>
        {% else %}
          <span class="disabled page-link">&raquo;</span>
        {% endif %}
      </div>
{% endblock content %}