{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <h1>О нас </h1>
    <p>Інтернет-магазин "avtoscarb" спеціалізується на продажу автоаксесуарів. Метою даного магазину є надання широкого асортименту 
        якісних і функціональних автоаксесуарів для автомобілів різних марок і моделей.</p>
    <p>У магазині можна знайти різноманітні товари, починаючи від простих речей, таких як автомобільні пахучки, і закінчуючи більш 
        функціональними аксесуарами, такими як органайзери інші товари.</p> 
    <p>Всі товари магазину "avtoscarb" проходять перевірку на якість і безпеку, і надаються за доступними цінами. Крім того, магазин пропонує 
        зручний і швидкий сервіс доставки, що робить процес покупки ще більш зручним і простим.</p>  
    <h2>Основна мета</h2>    
    <p>Забезпечити максимально зручний і швидкий доступ до широкого асортименту якісних автоаксесуарів для максимізації задоволення потреб і бажань кожного клієнта.</p>
{% endblock content %}