{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <h1>Куди звернутися за гарантійним обслуговуванням?</h1>
    <p>На товари у нашому магазині надається гарантія, яка підтверджує зобов'язання щодо відсутності в товарі заводських дефектів.</p>
    <p>Гарантія надається на термін від 2 тижнів до 36 місяців залежно від сервісної політики виробника. Термін гарантії вказано в описі кожного товару на нашому сайті.</p> 
    <p>Будь ласка, перевіряйте комплектність і відсутність дефектів у товарі під час отримання.</p>  
     
    <p>Гарантійним обслуговуванням займаються сервісні центри, авторизовані виробниками. Ви можете надіслати товар на гарантійний ремонт чи викликати майстра коштом сервісного 
        центру. Доступні варіанти вказано у вашому гарантійному талоні.</p>
    <p>Адреси і телефони сервісних центрів ви можете знайти на гарантійному талоні чи у списку сервісних центрів.</p>
    <p>Якщо у вашому місті немає сервісного центру, який обслуговує товар, ви можете звернутися до сервісного відділу нашого магазину. Або надіслати товар «Новою поштою» чи Meest. </p>
    <p>У разі виникнення необхідності ремонту товарів, які передбачають підключення до водо- газопроводу, необхідно звернутися в найближчий сервісний центр виробника для виклику 
        майстра. Майстер огляне товар і складе акт про гарантійність випадку. Якщо на місці буде складено акт із зазначенням того, що випадок дійсно гарантійний і товар 
        не підлягає ремонту — товар може бути замінений шляхом звернення в сервісний відділ магазину.</p>
{% endblock content %}