{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <h1>Угода користувача</h1>
    <p>Я (надалі – «Я» та/або «Користувач») погоджуюсь з умовами цієї Угоди користувача і, 
        використовуючи сайт: avtoscarb.com.ua (надалі – «Сайт») та/або мобільний додаток avtoscarb 
        (надалі – «Мобільний додаток») та/або інші сервіси (надалі разом іменуються як «Он-лайн 
        платформа avtoscarb» та/або «Он-лайн платформа»), при замовленні, листуванні, телефонній розмові, з
        алишенні відгуків тощо, надаю згоду на обробку і захист своїх персональних даних, як Користувача, 
        в обсязі, порядку, відповідно до мети обробки згідно з Положенням про обробку персональних даних, 
        розміщеному тут: (надалі – «Положення» та/або «Положення про обробку і захист персональних даних»).</p>
    <h2>Персональні дані</h2>    
    <p>У доповнення до Положення, на виконання вимог Закону України "Про захист персональних даних" шляхом заповнення 
        на Онлайн-платформі заявки для розгляду можливості придбання товару в кредит та натискання кнопки «Замовлення 
        підтверджую» даю згоду на обробку вказаних у заявці моїх персональних даних наступними особами: АТ «ПУМБ» (код ЄДРПОУ - 14282829), 
        АТ «ОТП БAНК» (код ЄДРПОУ– 21685166), АТ "УКРСИББАНК" (код ЄДРПОУ– 09807750), ТОВ "ФК"ЦФР" (код ЄДРПОУ– 35725063), АТ "АЛЬФА-БАНК" 
        (код ЄДРПОУ– 23494714), АТ КБ «ПРИВАТБАНК» (код ЄДРПОУ – 14360570), АТ "УНІВЕРСАЛ БАНК" (код ЄДРПОУ – 21133352), та іншим фінансовим 
        установам, що надають можливість кредитування на Он-лайн платформі Rozetka, з метою забезпечення реалізації цивільно-правових відносин, 
        надання/отримання та здійснення розрахунків за придбані товари/послуги, в тому числі шляхом кредитування. Не заперечую щодо перевірки 
        переліченими у цій Угоді фінансовими установами інформації у будь-яких бюро кредитних історій України з метою з’ясування відомостей, 
        які стосуються виконання мною взятих на себе зобов’язань по договорам (в т.ч. кредитним), у випадку наявності таких, тим самим розуміючи, 
        що об’єм інформації, яка буде перевірятися, може включати в себе інформацію, яка стосується банківської таємниці, і з’ясування якої буде такою, 
        яка буде повною та достатньою для розуміння мого соціального, майнового стану, платоспроможності та несення можливої подальшої майнової відповідальності, 
        у випадку її необхідності.</p>
    <p>Я також погоджуюсь з тим, що Володілець має право надавати доступ та передавати мої персональні дані третім особам без будь-яких додаткових повідомлень, 
        не змінюючи при цьому мети їх обробки, визначеної в Положенні та цій Угоді. В тому числі, на перевірку зазначеної Мною інформації та не заперечую про 
        передачу для можливого необхідного з'ясування даної інформації третім особам, під якими розумію: фінансові установи, колекторські компанії, оператори 
        мобільного та поштового зв’язку, інші фізичні та/або юридичні особи.</p>
{% endblock content %}