{% extends "shop\base.html" %}

{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Вхід в систему</h1>
    {% if form.errors %}
        <p>
            Ваше ім'я користувача та пароль не збігаються.
            Спробуйте ще раз.
        </p>
    {% else %}
        <p>Будь ласка, використовуйте наступну форму для входу:</p>
    {% endif %}
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Вхід"></p>
        <input type="hidden" name="next" value="{% url 'shop:product_list' %}">
    </form>
{% endblock %}
