{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My shop{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <a href="/"><img href="/" class="logo" src="/static/css/images/1111.jpg"></a>
        {% if user.is_authenticated %}
            <a href="/" class="account">Привіт, {{ user.username }}.</a>
            <a href="{% url 'users:logout' %}" class="account">Вихід</a>
        {% else %}
            <a href="{% url 'users:register' %}" class="account">Реєстрація</a> 
            <a href="{% url 'users:login' %}" class="account">Вхід</a>
        {% endif %}
    </div>
    <div id="subheader">
        <a href="/" class="menu">На головну</a>
        <form action="{% url 'shop:search' %}" method="get">
            <input type="text" name="q" placeholder="Поиск товаров">
            <button type="submit">Найти</button>
        </form>
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Ваш кошик:
                    <a class="price" href="{% url 'cart:cart_detail' %}">
                        {{ total_items }} Товар{{ total_items|pluralize }},
                        ₴{{ cart.get_total_price }}
                    </a>
                {% else %}
                    Ваш кошик пустий
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
