{% extends 'shop/base.html' %}

{% block content %}
  <div>
    <div>
      <h1>Для оформлення замовлення необхідно увійти до свого акаунту або зареєструватись</h1>
      <h3>Щоб продовжити, будь ласка, увійдіть в свій акаунт або зареєструйтеся за посиланнями нижче.</h3>
      <div>
        <a type="submit" href="{% url 'users:login' %}" role="button">Увійти</a>
        або 
        <a type="submit" href="{% url 'users:register' %}" role="button">Зареєструватись</a>
      </div>
    </div>
  </div>
{% endblock %}
